---
version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: "no"
    command: "true"
    volumes:
      - ~/.config:/app/.config
    environment:
      - GIT_SSH_KEY_BASE64
      - HUB_REPO_URL
      - HUB_BRANCH_SOURCE
      - HUB_BRANCH_PUBLISH
      - SPOKE_REPO_URL
      - SPOKE_BRANCH_PUBLISH
      - GCLOUD_SERVICE_KEY
      - LOOKER_INSTANCE_URI
      - LOOKER_API_CLIENT_ID
      - LOOKER_API_CLIENT_SECRET
