click==8.1.7
flake8<5 # pytest-flake8 does not support flake8 5+
exceptiongroup  # for pytest on python<=3.10
google-cloud-bigquery==3.12.0
google-cloud-storage==2.12.0
Jinja2==3.1.2
lkml==1.3.1
looker-sdk==23.16.0
mozilla-metric-config-parser==2023.10.2
mozilla-nimbus-schemas==2023.10.23
mozilla-schema-generator==0.5.1
pandas==2.1.1
pip-tools==7.3.0
pre-commit==3.5.0
pyarrow==13.0.0
pytest-black==0.3.12
pytest-flake8==1.1.1
pytest-isort==3.1.0
pytest-mypy==0.10.3
pytest-pydocstyle==2.3.2
pytest==7.4.3
PyYAML==6.0.1
tomli==2.0.1  # for toml parsing on python<3.11
types-PyYaml==6.0.12.12
yamllint==1.32.0
gitpython==3.1.40
